:root {
  --StandInBlack: #1e1e24;
  --Accent: #92140c;
  --StandInWhite: #fff8f0;
  --LightBg: #ffcf99;
  --LightBgShadow: #e5ad6f;
  --LightBgShadow2: #c58d4d;
  --DarkBg: #111d4a;
  --DarkShadow: #112059;
  --DarkShadow2: #192b70;
}

body,
#root,
.dark,
.light {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background: no-repeat center / 100%
    url("https://i.pinimg.com/originals/3e/72/b3/3e72b311682500305a7e66444743381c.gif");
  background-position: bottom;
  background-size: cover;
  color: var(--StandInWhite);
}

.light {
  background: no-repeat center / 100%
    url("https://i.pinimg.com/originals/b3/9a/6e/b39a6ecc3260548a5f6638ecc7e0facb.gif");
  background-position: bottom;
  background-size: cover;
  color: var(--StandInBlack);
}
