article {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
}

a {
  text-decoration: none;
  text-align: center;
}

a img {
  align-self: center;
}

@media screen and (min-width: 720px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}
