.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 57px;
  margin-bottom: 57px;
}

.home article {
  display: flex;
  flex-direction: column;
  background-color: var(--LightBg);
  padding: 10px;
  border-radius: 15px;
  img {
    width: 60%;
  }
  p {
    color: var(--StandInBlack);
  }
  a {
    color: var(--StandInBlack);
    text-decoration: underline;
  }
}

.jeux {
  grid-row-start: 1;
  grid-row-end: 3;
}

#fav {
  grid-column-start: 1;
  grid-column-end: 2;
}

#allGames {
  grid-column-start: 3;
  grid-column-end: 4;
}

@media screen and (min-width: 720px) {
  .home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
