.pacman {
  margin: 0vw 20vw 20vw 20vw;
}

#score {
  margin-left: 30%;
}

#score {
  color: white;
}

@media screen and (max-width: 720px) {
  .pacman {
    margin-left: 20%;
    margin-bottom: 118px;
  }
  #score {
    margin-left: 20%;
  }
}

@media screen and (max-width: 520px) {
  .pacman {
    margin-left: 10%;
  }
  #score {
    margin-left: 10%;
  }
}

@media screen and (max-width: 400px) {
  .pacman {
    margin-left: 0%;
  }
  #score {
    margin-left: 0%;
  }
}
