.pacman {
  margin: 0vw 20vw 0vw 20vw;
}

#score {
  margin: 0vw 0vw 27vw 0vw;
}

#score {
  color: white;
}

@media screen and (max-width: 720px) {
  .pacman {
    min-height: 30vh;
  }
  #score {
    margin-left: 20%;
  }
}

@media screen and (max-width: 520px) {
  .pacman {
    margin-left: 10%;
  }
  #score {
    margin-left: 10%;
  }
}

@media screen and (max-width: 400px) {
  .pacman {
    margin-left: 0%;
  }
  #score {
    margin-left: 0%;
  }
}
