.footer-sombre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer-claire {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--LightBg);
  .accent-color {
    color: var(--Accent);
  }
}
.footer-claire footer {
  padding: 10px;
}

footer img {
  width: 3%;
}

footer {
  padding: 5px;
}
