.footer-sombre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-claire {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer-claire p {
  color: var(--Accent);
}

footer {
  padding: 10px;
}

footer img {
  width: 3%;
}
